<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>PRIME CONSULTING </h4>

        <ul>
          <li><a routerLink="accueil" style="color: white; font-weight: bold; font-size: 12px;">HOME</a></li>
          <li><a routerLink="presentation" style="color: white; font-weight: bold; font-size: 12px;">PRESENTATION</a></li>
          <li><a routerLink="service" style="color: white; font-weight: bold; font-size: 12px;">SERVICES</a></li>
          <li><a routerLink="produits" style="color: white; font-weight: bold; font-size: 12px;">PRODUCTS</a></li>
          <li><a routerLink="clients" style="color: white; font-weight: bold; font-size: 12px;">CUSTOMERS</a></li>
          <li><a routerLink="recrutement" style="color: white; font-weight: bold; font-size: 12px;">RECRUITING</a></li>
          <li><a routerLink="contacts" style="color: white; font-weight: bold; font-size: 12px;">CONTACT US</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Commit with you</h4>
        <ul>
          <li><a href="#" style="color: white; font-weight: bold; font-size: 12px;">+225 07 2241 2845</a></li>
          <li><a href="#" style="color: white; font-weight: bold; font-size: 12px;">info@prime-ci.com</a></li>
          <li><a href="#" style="color: white; font-weight: bold; font-size: 12px;">prime-ci.com</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4>OUR LOCATIONS</h4>
        <h2 style="color: #8FB2DA; font-weight: bold;">Where to find us?</h2>
        <ul>
          <li><a style="color: white;  font-size: 12px;" >Abidjan:+225 07 2241 2845</a></li>
          <li><a style="color: white;  font-size: 12px;">Postal:BP 668 Grand Bassam, Quartier Impérial,Côte d'Ivoire</a></li>
          <li><a style="color: white;  font-size: 12px;">
            Annex:06 BP 1580 Abidjan 06 Résidence Platine Cocody II Plateaux-C12, Côte d'Ivoire</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4 >GET IN TOUCH</h4>
        <h2 style="color: #8FB2DA; font-weight: bold;">Prime Social links</h2>
        <p style="color: white; font-weight: bold; font-size: 12px;">Taking seamless key performance indicators offline to maximise the long tail.</p>
        <div class="social-links">
          <a href="https://icons8.com/icon/60443/linkedin-entouré"></a>
        </div>
      </div>
    </div>
  </div>
</footer>


