<section class="footer">
  <div class="container" style="padding-top: 100px;">

    <div class="row">

      <div class="footer-col">
        <p style="font-weight: 800; font-size: 30px; line-height: 50px;">
          AUTRES DOMAINES INFORMATIQUES DANS LESQUELS NOUS INTERVENONS
        </p><br>
        <p>
          <img src="assets/prime/autre-domaine.jpg" alt="img" width="500px" height="600px">
        </p>

      </div>


      <div class="footer-col">
        <ul>
          <li>Accompagnement à la définition de schéma directeur informatique, conseil</li>
          <li>Administration système : UNIX , LINUX et Windows</li><br>




        </ul>
        <p>PRIME Consulting vous accompagne :</p><br>
        <p>
          Dans les études, la mise en œuvre et le pilotage de vos projets en informatique, en mettant à votre service les compétences et l’expérience de consultants et d’experts reconnus dans la profession. Nos prestations peuvent être proposées dans le cadre du renforcement de vos équipes par délégation de collaborateurs ou pour la réalisation de missions avec engagement forfaitaire.<br>
        </p>
        <p>
          Quelle que soit la nature de la prestation, PRIME Consulting s’engage sur :
        </p>
        <ul>
        <li>l’affectation des ressources les mieux qualifiées pour les missions à réaliser</li>
        <li>l’intégrité morale et professionnelle des collaborateurs de PRIME Consulting</li>
        <li>Le conseil en stratégie de système d’informations,</li>
        <li>La rédaction des documents réglementaires (charte, guides techniques et modes opératoires)</li>
        <li>La rédaction de cahiers de charges pour le choix de solutions</li>
        <li>La définition de tableaux de bord (performance, qualité de service, sécurité, …)</li>
        <li>L’ccompagnement méthodologique pour intégrer la sécurité dans les applications</li>
        <li>Le conseil en organisation, technologie, contrat de service, compétences.</li>
        </ul>

      </div>


    </div>
  </div>
</section>

