<section class="footer">
  <div class="container">
    <br> <br> <br> <br> <br>
     <hr width="50px" > Histoire de PRIME <br>

    <p  class="lol">Notre vision: une treprise <br> prospère</p>

    <div class="row">

      <div class="footer-col" style="width: fit-content; ">
        <p>
          Audit / Advices
        </p><br>
        <p>
          <img src="assets/prime/imgPresentation.jpg" alt="img" style="width: 300px; height: 450px;">
        </p>

      </div>


      <div class="footer-col">
        <h4></h4>

        <p>

          L’audit est une procédure de contrôle de la gestion<br>
          d’une activité et de l’exécution de ses objectifs. En<br>
          matière de systèmes d’information, PRIME <br>
          Consulting peut intervenir dans deux domaines<br>
          d’activité bien précis :<br></p>

            <ul>
              <li>L’audit organisationnel d’un système <br>
                informatique</li>
              <li>
                L’audit de sécurité : il a pour objectif de mesurer<br>
                l’écart entre la situation existante (sur les plans<br>
                organisationnels procéduraux et techniques) et<br>
                la politique de sécurité de l’entreprise et l’état de<br>
                l’art. Tous les audits de sécurité menés par<br>
                PRIME Consulting conduisent, au delà du <br>
                constat, d’une part à mesurer les risques<br>
                opérationnels pour le domaine étudié, et par<br>
                extension pour toutes ou partie des activités de<br>
                l’entreprise, et d’autre part à proposer des<br>
                recommandations et un plan d’actions quantifiés<br>
                et hiérarchisés pour corriger les vulnérabilités<br>
                et réduire l’exposition aux risques.

              </li>
            </ul>







      </div>
      <div class="footer-col">

        <p>
          PRIME Consulting peut vous assister et intervenir<br>
           dans les domaines suivants :
        </p>
        <ul>
          <li>
            Audit général de sécurité
          </li>

          <li>
            Audit technique de sécurité
            <ul>
              <li>Tests de pénétration</li>
              <li>Audit de configuration</li>
              <li>Audit de code</li>
              <li>Audit de gestion des autorisations</li>
              <li>Audit de sécurité antivirale</li>
            </ul>

          </li>


        </ul>
        <p>

          Les audits peuvent faire intervenir une équipe <br>
          pluridisciplinaire, composée de consultants et<br>
          d’ingénieurs experts dans leurs domaines, et sont<br>
          toujours dirigés par un directeur de mission,<br>
          responsable des opérations et des livrables remis<br>
          par PRIME Consulting. Le directeur associé,<br>
          lui-même impliqué sur le plan<br>
          opérationnel, présente à un niveau<br>
          managérial, la synthèse des opérations<br>
          réalisées et les conclusions de l’audit.<br><br>

          De plus, nous accompagnons et aidons les<br>
          entreprises à travers le conseil en :
        </p>
        <ul>
          <li>En organisation du système monétique</li>
          <li>En technique de gestion de la chaîne monétique</li>
        </ul>

      </div>

    </div>
  </div>
</section>


