
<section class="content--product">


  <div  class="titre1">
    <br>
    <h2 class="petittitre" style="font-weight: bold; padding-top: 30px; margin-left:10px ;">PLUS QU'UNE AFFAIRE </h2> <br>
    <p class="lol"><span style="color: #5A5A5A; font-size: 35px; font-weight: 800;">Grands clients </span> <span style="color: #8AA6C6;font-size: 35px; font-weight: 800;">Très bons retours</span> </p> <br>

   <p  class="lol" style="font-size: 18px; line-height: 23px; ">
     Les missions sont celles réalisées en live par PRIME Consulting depuis 2007, dans le domaine de la monétique. Non exhaustives, elles se limitent aux
     missions essentielles de plus de dix (10) jours ouvrés. En plus de ces questions de confidentialité, PRIME Consulting n'indique pas les missions
     réalisées dans de nombreux établissements bancaires pour leur compte.

      </p>
          <br><br>
 </div>


  <div class="container--product">





    <div class="all--elemnt">










      <div class="element">

        <div class="image">
          <img src="assets/prime/cl1.png" alt="img" heigth="200px" width="200px">
        </div>
          <br><br>
          <h2 class="titre">Bull SSA</h2>

            <ul class="explication">
              <li>Assistance de gestion de projets monétiques :<br>
                Directeur de projet, chef de projet, gestion<br>
                d’équipe</li>
              <li>Assistance technique</li>
              <li>Avant-vente de produits monétiques</li>
            </ul>

      </div>

      <div class="element">


        <div class="image">
          <img src="assets/prime/cl2.png" alt="img" heigth="200px" width="200px">
          </div>
          <br><br>
          <h2>OMOA Côte d’Ivoire</h2>
          <ul class="explication">
            <li> Assistance technique à l’intégration des<br>
              terminaux en environnement monétique</li>

          </ul>

      </div>




      <div class="element">

        <div class="image">
          <img src="assets/prime/cl3.png" alt="img" heigth="200px" width="200px">
          </div>
          <br><br>
          <h2>CFAO Technologies (Côte <br>d’Ivoire
             et Cameroun)</h2>
          <ul  class="explication">
            Assistance technique à la certification ADVT<br>
            – VISA des terminaux de type OPTEVA et à <br>
            l’intégration en environnement monétique

          </ul>


      </div>

      <div class="element">

        <div class="image">
          <img src="assets/prime/cl4.jpg" alt="img" heigth="200px" width="200px">
          </div>
          <br><br>
          <h2>Atlantique Technologies <br> (Groupe Banque Atlantique <br> - Afrique de l’Ouest)</h2>
          <ul  class="explication">
            <li>Accompagnement Maîtrise d’ouvrage Projets <br>
              Monétique: rédaction cahier de charge, <br>
               dépouillement, conseils <br></li>
            <li>

            Formation monétique
            </li>
          </ul>


      </div>

      <div class="element">
        <div class="image">
          <img src="assets/prime/cl5.png" alt="img" heigth="200px" width="200px">
          </div>
          <br><br>
          <h2>Banque Nationale pour<br>
             L’Investisement (BNI) Côte<br>
              d’Ivoire</h2>
            <ul  class="explication">
              <li>
                 Assistance de gestion de projet – Projet<br>
                 émission/acquisition VISA
              </li>
          </ul>
        <br><br>
      </div>

      <div class="element">

        <div class="image">
          <img src="assets/prime/cl6.png" alt="img" heigth="200px" width="200px">
          </div>
          <br><br>
          <h2>Group Bank Of Africa</h2>
          <ul   class="explication">
            <li>Mise en place du système de routage des flux <br>
              fonctionnels VISA (autorisation Online)<br>
            </li>
            <li>
              Assistance à la mise en oeuvre de la « Perso<br>
             In House » des cartes privatives du groupe<br>
            </li>
            <li>
              Fourniture et mise en oeuvre d’une interface<br>
              ISO 8583 pour le projet Mobile Banking

            </li>
          </ul>
        <br><br>
      </div>
      <div class="element">

        <div class="image">
          <img src="assets/prime/cl7.png" alt="img" heigth="200px" width="200px">

    </div>
  <br><br>
  <h2>
    Bridge Bank Group (BBG)<br>
     Côte d’Ivoire
    </h2>
  <ul  class="explication">
    <li>
      Accompagnement maîtrise d’ouvrage<br>
      monétique : rédaction appel d’offres et cahier <br>
      de charges, dépouillement, gestion du projet<br>
       et recette fournisseurs
    </li>

  </ul>
        <br><br>
      </div>
      <div class="element">

        <div class="image">
          <img src="assets/prime/cl8.png" alt="img" heigth="200px" width="200px">


        </div>
    <br><br>
    <h2>Banque Populaire pour<br>
       L’Epargne et le Crédit<br>
        (BPEC) Togo</h2>
    <ul  class="explication">

      <li>Assistance technique intégration monétique</li>
      <li>Livraison d’une interface ISO8583 Host  bancaire</li></ul>


        <br><br>
      </div>

      <div class="element">

        <div class="image">
          <img src="assets/prime/cl9.png" alt="img" heigth="200px" width="200px">
       </div>
       <br><br>
       <h2>Banque Togolaise pour Le <br>
         Développement (BTD) Togo</h2>
       <ul  class="explication">
         <li>Assistance technique intégration monétique</li>
         <li>Livraison d’une interface batch Host bancaire</li>
       </ul>


        <br><br>
      </div>
      <div class="element">

        <div class="image">
          <img src="assets/prime/cl10.png" alt="img" heigth="200px" width="200px">
      </div>
      <br><br>
      <h2>ATOS </h2>
      <p>
        Directeur projet progiciel monétique MONEDIA :
      </p>
      <ul  class="explication">
        <li>Actions d’avant-vente et de<br>
           commercialisation de produit et <br>
           de services ;</li>
        <li>Assistance Maîtrise d’œuvre ;</li>
        <li>Gestion Equipe de développement équipe (06 personnes) pluri<br>
           disciplinaires et multi- langues (français, anglais) ;</li>
        <li>Définition spécifications générales et <br>
          fonctionnelles détaillées,architecture<br>
          technique ;
        </li>
        <li>Suivi, tableaux de bords, recette usine et<br>
           client, déploiement</li>
        <li>
          Zone CEDEAO (Benin, Burkina-Faso, Côte<br>
          d’Ivoire, Mali, Niger, Togo, Sénégal) Afrique<br>
           de l’Est (Burundi, Madagascar, Kenya,<br>
            Ouganda, Rdc, Rwanda, Tanzanie
        </li>
      </ul>


        <br><br>
      </div>
      <div class="element">
        <div class="image">
        <img src="assets/prime/cl11.png" alt="img" heigth="200px"></div>
        <br><br>
        <h2>Banque du Trésor Côte d’Ivoire</h2>
        <ul class="explication">
          <li>
            Assistance technique intégration monétique
          </li>
          <li>
            Livraison d’une interface ISO8583 Host bancaire
          </li>
        </ul>
        <br><br>
      </div>
    </div>

  </div>
</section>




































