<section class="footer">
  <div class="container">
    <br> <br> <br> <br> <br>
    <p class="lol1" style=" font-size:20px; font-weight: 600;">AT ONE GLANCE</p> <br>
    <p class="lol"><b><span style="color: #5A5A5A; font-size:30px; font-weight: 600;">Les services</span><span style="color: #93B6DC;font-size:30px; font-weight: 600;"> de Prime</span> </b></p> <br>

    <p  class="lol"  style="font-size:16px; font-weight:400;">Capitaliser sur les fruits à portée de main pour identifier une activité à valeur ajoutée approximative à tester en version bêta. Surmontez la fracture <br>

      numérique avec des clics supplémentaires.
    </p>
    <br><br>

    <div class="row">
      <div class="footer-col">


        <a  href='autit-conseils'><img src="assets/prime/s1.png" alt="img" height="160px" width="540px"></a>
          <br><br>

          <h2><a  mat-button href='autit-conseils'>Audit & Conseils</a></h2>

          <p>
            La procédure d'audit est un contrôle de gestion de l'activité et de l'exécution de<br>
            ses objectifs. Dans les systèmes d'information, PRIME Consulting peut<br>
            intervenir dans deux domaines spécifiques..

          </p>




      </div>



      <div class="footer-col">


        <a mat-button href='securite'>  <img src="assets/prime/s2.png" alt="img" height="160px" width="540px"></a>
        <br><br>

        <h2><a mat-button href="securite">Sécurité & Réseaux</a></h2>

        <p>
          Le cœur de métier de l'entreprise est d'optimiser le profit. Un tel objectif devrait<br>
          conduire à surmonter les obstacles à la productivité négative.<br>
          Télécommunications…
        </p>




      </div>



      <div class="footer-col">
        <a mat-button href='expertise-assistance'> <img src="assets/prime/s3.png" alt="img" height="160px" width="540px"></a>
        <br><br>
        <h2><a mat-button href='expertise-assistance'>Expertise & Assistance </a></h2>

          <p>
            Nos domaines d'expertise Etude de faisabilité, rentabilité, définition de<br>
            stratégie de système de paiement, rédaction de cahier des charges et livre de<br>
            recettes..</p>

      </div>




      <div class="footer-col">
        <a mat-button href='autres'> <img src="assets/prime/s4.png" alt="img" height="160px" width="540px"></a>
        <br><br>
        <h2><a href="autres"> Autres </a></h2>

        <p>
          Dans l'étude, la réalisation et la gestion de vos projets informatiques, mettre à<br>
          votre service des consultants et experts reconnus dans la profession pour<br>
          leurs...
        </p>

      </div>

      <br><br>

    </div>

    <br><br><br><br><br>
  </div>
</section>
