<section class="footer">
  <div class="container">

          <h2 class="texte"  style="font-weight: bold; padding-top: 30px; padding-left:40px ;">Histoire de PRIME</h2>

    <p class="lol"><span  style="color: #5A5A5A; font-size: 35px; font-weight: 800;">Notre vision: </span>
    <span style="color: #8AA6C6;font-size: 35px; font-weight: 800;"> une entreprise<br>prospère</span></p>

    <div class="row">
      <div class="footer-col">
        <h4></h4>

        <p>PRIME Consulting Associates comes from <br>
          ThinkServer created in 2001. Initié par un ingénieur<br>
          senior expérimenté dans les métiers de services <br>
          informatiques, aussi bien en Europe qu’en Côte <br>
          d’Ivoire. Démarré en tant qu’entreprise individuelle,<br>
          les activités ont grandi pour devenir une société à<br>
          responsabilité limitée. L’activité de PRIME<br>
          Consulting est fortement orientée vers la base.<br><br>
          Dans le domaine de la gestion du paiement :<br>
          traitement des données issues des opérations <br>
          carte, et lié à la formidable croissance de la carte<br>
          bancaire en Afrique subsaharienne.<br>
          Progressivement cette orientation évolue vers<br>
          toutes les activités et services du secteur TIC <br>
          (Technologies de l’Information et de la<br>
          Communication) participant à la mise en place<br>
          de solutions monétiques.<br><br>
          Résultats de traduction dans le domaine de la <br>
          sécurité des systèmes d’information.<br>

        </p>




      </div>
      <div class="footer-col">

        <p>
          Les activités dans les technologies de l’information<br>
          ont évolué pour devenir un facteur de<br>
          développement majeur. À certains égards, ils sont <br>
          maintenant au cœur de nombreuses entreprises <br>
          modernes. PRIME Consulting a évolué en fonction <br>
          des tendances du marché. Résultats de traduction<br>
          La nécessité d’accompagner le développement de<br>
          systèmes informatiques plus complexes nécessite<br>
          une amélioration constante de nos compétences par<br>
          la formation et la veille technologique. C’est<br>
          pourquoi notre ingénierie vise à fournir à nos clients<br>
          des outils de haute flexibilité et des solutions sur<br>
          mesure.<br><br>

          Pour répondre à ces exigences, nous avons<br>
          constitué une équipe d’ingénieurs et de consultants<br>
          expérimentés dans leur domaine, et développé un<br>
          réseau de partenariat avec des experts externes,<br>
          afin de proposer des solutions modernes et<br>
          innovantes. Nous agissons en tant qu’intégrateur de<br>
          solutions prenant en charge toutes les étapes du<br>
          processus, de la définition du cahier des charges au<br>
          démarrage de la production, en passant par la<br>
          formation des utilisateurs et la maintenance. Nous<br>
          offrons des services d’externalisation en tant que<br>
          partenaire commercial.<br>

        </p>

      </div>
      <div class="footer-col">
        <p>
          <span style="font-weight:600 ;">ACTIONNAIRE</span> <br> <br>
          Le capital est d’environ 2 000 000 d’unités CFA, avec<br>
          une valeur projetée pour atteindre la valeur<br>
          maximale de 10 millions dans les années à venir.<br>
          L’actionnaire est aujourd’hui pleinement ivoirien,<br>
          avec l’intention à moyen terme de l’ouvrir à des<br>
          partenariats nationaux et étrangers déjà dans le <br>
          domaine d’activité.<br>

        </p><br>
        <p>
          <img src="assets/prime/imgPresentation.jpg" alt="img">
        </p>

      </div>

    </div>
  </div>

<br> <br> <br> <br> <br> <br><br><br>
  <!--partie2-->
  <div class="contenaire" id="partie2"style="padding-right:70px ;padding-left:70px; ">
    <br><br>
    <h2 class="texte"  style="font-weight: bold; padding-top: 30px; ;">PLUS QU'UNE AFFAIRE</h2>

    <p class="lol"><span  style="font-size: 35px; font-weight: 800;">Que défendons-nous? </span>
    </p><p>
      Nous vous accompagnons pour un résultat à la hauteur de vos objectifs et de vos ambitions. Pour que nos services répondent de manière pragmatique à vos attentes
    </p><br><br><br><br>


    <div class="row">

      <!--element1-->
      <div class="footer-col" id="maman">
        <div class="logo" style="height:fit-content ; width: fit-content;">

            <img src="assets/prime/audit.png" alt="logo">
        </div>
        <div class="info" style="height:fit-content ; width: fit-content;">
          <h2>Audit et Conseil</h2>
          <p>Nous pouvons vous aider à évaluer le niveau de risque lié au contrôle des activités informatiques de votre entreprise ou de votre établissement financier dans les transactions électroniques</p>
        </div>

      </div>

      <!--element2-->
      <div class="footer-col" id="maman">
        <div class="logo" style="height:fit-content ; width: fit-content;">

          <img src="assets/prime/projet1.png" alt="logo">
      </div>
      <div class="info" style="height:fit-content ; width: fit-content;">
        <h2>Accompagnement de projets</h2>
        <p>La conception et la mise en place de nouveaux services clients dans les transactions électroniques nécessitent un accompagnement technique et humain que PRIME CONSULTING
          à travers notre société, vous fait partager notre
          expérience que vous pouvez apporter.</p>
      </div>

      </div>

<!--element3-->
      <div class="footer-col" id="maman" >

        <div class="logo" style="height:fit-content ; width: fit-content;">

          <img src="assets/prime/colaboration.png" alt="logo">
      </div>
      <div class="info" style="height:fit-content ; width: fit-content;">
        <h2>Externalisation</h2>
        <p>Dans une relation de partenariat étroit avec votre établissement financier, Prime Consulting vous
           accompagne tout au long du cycle de vie de vos projets en
           transactions électroniques.</p>
      </div>
      </div>

<!--element4-->
      <div class="footer-col" id="maman" >

        <div class="logo" style="height:fit-content ; width: fit-content;">

          <img src="assets/prime/dev.png" alt="logo">
      </div>
      <div class="info" style="height:fit-content ; width: fit-content;">
        <h2>Développement spécifique</h2>
        <p> Grâce à notre expertise et notre savoir-faire dans les développements
           spécifiques, une expérience éprouvée au fil des années, nous pouvons apporter
           des solutions pratiques pour personnaliser vos applications existantes. </p>
      </div>
      </div>
<!--element5-->
      <div class="footer-col" id="maman">
        <div class="logo" style="height:fit-content ; width: fit-content;">

          <img src="assets/prime/logiciel.png" alt="logo">
      </div>
      <div class="info" style="height:fit-content ; width: fit-content;">
        <h2>Editeur de logiciels</h2>
        <p>
          De par son expérience et la confiance de ses clients, Prime Conseil
          a développé une expertise dans les
           développements logiciels dont elle assure pleinement la pérennité.
        </p>
      </div>
      </div>

    </div>
    <br><br><br>

  </div>
</section>

