<section>
  <div class="contenaire" style="overflow:hidden;">
   <!-- <"debut bloc1"> -->
    <div class="bloc"  id="test" style="height: fit-content;" >

      <div id="slider" style="background-color: #5B5B5D; height: fit-content;">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">
        <div id="slides">
           <div id="overflow">
              <div class="inner">


                 <div class="slide slide_1">
                    <div class="slide-content">

                      <div class="slide-content" style="height: fit-content;">
                        <div class="col-md-12 text-center">
                          <h3 class="animate-charcter">PRIME<br>CONSULTING</h3>
                        </div>
                      </div>

                    </div>
                 </div>



                 <div class="slide slide_2">
                    <div class="slide-content">
                       <h2 style="line-height:2.5rem ;"><span style="color: orangered; font-size: 4rem;">Respecter</span> <br> <span style="color: rgb(140, 178, 250); font-size: 4rem;"> Nos
                        engagements</span></h2>

                    </div>
                 </div>


                 <div class="slide slide_3">
                    <div class="slide-content">
                       <h2><span>ENGAGÉ POUR VOTRE RÉUSSITE</span></h2>

                    </div>
                 </div>


                 <div class="slide slide_4">
                    <div class="slide-content">
                       <h2></h2>
                       <p style="line-height: 40px; font-size: 1.5rem;">Agréger rapidement les utilisateurs B2C et les potentialités mondiale.
                        Plagier progressivement les competences de base du commerce
                        électronique de mise à niveau des ressources.</p>
                    </div>
                 </div>


              </div>
           </div>
        </div>
        <div id="controls">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
           <label for="slide4"></label>
        </div>
        <div id="bullets">
           <label for="slide1"></label>
           <label for="slide2"></label>
           <label for="slide3"></label>
           <label for="slide4"></label>
        </div>
      </div>













    </div>

 <!-- <"debut bloc2"> -->
    <div class="bloc" >
        <div class="sub-content">

            <div class="element" >

              <div class="box">
                <h3>PRIME CONSULTING</h3>
                <h1>QUI SOMMES NOUS?</h1>
                <p>PRIME Consulting est un cabinet de conseil en systèmes d’information. L’équipe est constituée de consultants
                  internes et externes aux compétences complémentaires dans les domaines de la stratégie, de l’organisation et de
                  la mise en œuvre des projets. Nos interventions sont orientées vers:</p>
                <ul>
                  <li>Conseils et assistance dans la mise en œuvre de projets informatiques</li>
                  <li>Sécurité des systèmes d’information</li>
                  <li>Finances et moyens de paiement bancaires électroniques</li>
                </ul>
                <h2>Une identité résolument africaine</h2>
                <div class="btn">
                  <a mat-button href='presentation' rel="noopener noreferrer">
                    PRESENTATION
                  </a>
                </div>
              </div>


           </div>

            <div class="element" >

              <img src="assets/prime/bg22.jpg" alt="lol">


            </div>
      </div>

    </div>

     <!-- <"debut bloc3"> -->
    <div class="bloc"  style="height: fit-content;" >

          <div class="sub-content" id="block3">

               <div class="element"  style="background-color: rgb(91, 21, 156); ">

                <div class="box2">
                  <h3>LOGO</h3>
                  <h1>Prime Consulting</h1>
                  <p>PRIME Consulting peut être décliné en quatre pôles représentant nos
                     compétences. Le mouvement circulaire ci-dessus vise à montrer toutes
                      ces déclinaisons de compétences. Une valeur fondamentale de notre métier
                      d'intégrateur est l'imbrication de nos compétences et leur utilisation optimale.</p>


                  <div class="btn">
                    <a mat-button href='service' rel="noopener noreferrer">
                      NOS SERVICES
                    </a>
                  </div>
                </div>


              </div>

              <div class="element" style="background-color: rgb(204, 48, 27); ">
                <img src="assets/prime/taleau.jpg" alt="lol">
              </div>

          </div>

    </div>
     <!-- <"debut bloc4"> -->
    <div class="bloc" style="background-color: rgb(155, 24, 46);">

        <div class="sub-content" >

             <div class="dif"  >

                 <div class="dif-box1" style="padding-top:165px ;">

                  <img  class="imagedf" src="assets/prime/clientS.png" alt="img" >


                  <p style="text-align: center ; line-height: 2px; font-weight: 900; margin-top: 30px;margin-bottom: 30px; font-size: 40px;">
                    30+
                  </p>
                  <p style="text-align: center ; line-height: 2px; margin-top: 50px;">Clients et partenaires satisfaits</p><br>


                 </div>

             </div>

             <div class="dif" >
                  <div class="dif-box2">
                    <h2 style="text-align: center ; font-weight: bold; padding-top: 30px;">NOS PREUVES</h2>
                    <h2 style="text-align: center ; font-weight:800; font-size: 30px; padding-bottom: 30px;">NOS PREUVES</h2>
                    <img   class="imagedf" src="assets/prime/inovation.png" alt="img">




                    <p style="text-align: center ; line-height: 2px; font-weight: 900; margin-top: 30px;margin-bottom: 30px; font-size: 40px;">
                      500+
                    </p>
                    <p style="text-align: center ; line-height: 2px; margin-top: 50px;">Solutions et produits développés</p><br>



                    <div class="btn1" style="text-align: center ;">
                      <a mat-button href='produits' rel="noopener noreferrer">
                        NOS PRODUITS
                      </a>
                    </div>




                   </div>
             </div>
             <div class="dif" >

              <div class="dif-box2" style="padding-top:165px ;">
                <img   class="imagedf"   src="assets/prime/projet.png" alt="img" id="image"

                style=" display:block;
                margin-right:auto;
                margin-left:auto;"
                >


                <p style="text-align: center ; line-height: 2px; font-weight: 900; margin-top: 30px;margin-bottom: 30px; font-size: 40px;">
                  170+
                </p>
                <p style="text-align: center ; line-height: 2px; margin-top: 50px;">Projets clients développés</p><br>

              </div>
             </div>

        </div>


    </div>


     <!-- <"debut bloc5"> -->

    <div class="bloc" style="height: fit-content;" >


         <div class="sub-content2" style="background-color: #215877; ">

            <div class="dif2"  style="background-color: white;  border: 5px solid  #8FB2DA; padding: 2rem 1cm;">

              <div class="dif2-bloc">
                <h2>STRATEGIE DE PRIME</h2>
                <p>La stratégie de conseil de PRIME repose sur trois (3) principes de base:</p>
               <ol>
                <li style=" font-weight: 600;">Qualité des services</li>
                <ul>
                  <li>Clair et honnête sur les compétences et les expériences</li>
                  <li>Affectation la plus précise des ressources qualifiées pour mener à bien les missions</li>
                  <li>Missions de suivi systématiques et régulières par l’équipe de direction</li>
                  <li>Fidélité du consommateur</li>
                </ul>
                <li  style=" font-weight: 600;">Qualité des ressources humaines</li>

                <ul>
                  <li>La plupart de nos consultants sont diplômés des écoles d’ingénieurs</li>
                  <li>15% de notre budget dédié au développement des compétences et à la veille technologique.</li>

                </ul>
                <li style=" font-weight: 600;">Une gestion saine et rigoureuse</li>
                <ul>
                  <li>Le devoir de durabilité afin de maintenir la confiance de ses clients</li>
                  <li>Contrôle des coûts afin d’avoir un rapport qualité/prix optimal</li>

                </ul>
               </ol>

              </div>
              <br><br>
              <div class="btn">
                <a mat-button href='contacts' rel="noopener noreferrer">
                  CONTACT
                </a>
              </div>

            </div>

            <div class="dif2" >
              <img src="assets/prime/contact.jpg" alt="lol"  >


             </div>

        </div>


    </div>

     <!-- <"debut bloc6"> -->

    <div class="bloc" id="last" style="margin-top:100px ;  height: fit-content;">
      <p><span style="color: orangered; font-size: 30px;font-weight: 800; margin: 2rem 1cm ;">Dernières</span><span style="color: #8FB2DA; font-size: 30px;font-weight: 800;">Actualités</span></p>
      <br> <br>
    </div>
  </div>
</section>
