<section class="footer">
  <div class="container" style="padding-top:100px ;">

    <div class="row">

      <div class="footer-col">
        <p>
          Expertise / Assistance
        </p>
        <br><br>
        <p>
          <img src="assets/prime/assistance.jpg" alt="img" width="300px" height="350px">
        </p>

      </div>


      <div class="footer-col">
        <p>Nos domaines de compétence non exhaustifs sont les suivants :</p>
        <ul>
          <li>Etude de faisabilité, de rentabilité, et définition de la stratégie du système monétique</li>
          <li>Rédaction de cahier de charges et de cahier de recette</li>
          <li>Rédaction des procédures bancaires et monétiques</li>
          <li>Accompagnement à la gestion de projet</li>
        </ul>
        <p>L’assistance de PRIME Consulting s’articule autour de </p>
        <ul>
          <li>En conception et mise en place de système de paiement</li>
          <li>En mise en production de système de gestion de chèque et de télé compensation</li>
          <li>En réalisation de projet monétique: système de gestion de cartes bancaires</li>
        </ul>

        <p>
          Nos consultants peuvent accompagner nos clients (Banques) et toutes autres institutions financières en tant que assistant en maîtrise d’ouvrage.
        </p>
      </div>

      <div class="footer-col">
        <h4>Assistance à Maîtrise d’œuvre</h4>
        <p>Nous prenons par principe un « Engagement de Résultats » dans tous les projets que nous conduisons, grâce à la mise en œuvre du triptyque « coût, délai, technicité »</p>
        <p>Ce type d’engagement est réalisable dans le cas de prise en charge de la complétude du projet par PRIME Consulting, qui le cas échéant devient le guichet unique du projet.</p><br>
        <ul>
          <li>Prise en charge de toute l’intégration du projet, gestion complète des équipes sectorielles</li>
          <li>Prise en charge totale de la gestion du projet : du début du projet à la livraison du projet au client</li>
          <li>Gestion complète du « profit and lost » du projet</li>
        </ul>
      </div>


    </div>
  </div>
</section>

