<section class="footer">
  <div class="container" style="padding-top: 100px;">

    <div class="row">

      <div class="footer-col">
        <p style="font-weight: 800;font-size:30px ;">
          Sécurité et Réseaux
        </p><br>
        <p>
          <img src="assets/prime/securite.jpg" alt="img" width="500px" height="350px">
        </p>

      </div>


      <div class="footer-col">
        <h4></h4>

        <p>
          Le cœur de métier de l’entreprise est de maximiser et optimiser son profit. Une telle donne doit s’affranchir des obstacles de contre-productivité. Le secteur des télécommunications, des réseaux et de la sécurité a atteint un tel seuil d’évolution, qu’il est préférable de se référer à un conseil du métier qui pourra définir et optimiser, face aux besoins, les solutions idoines pour les entreprises. Prime Consulting spécialiste dans ce domaine vous offre les différentes prestations énumérées ci-dessous
        </p>
        <ul>
          <li>Qualification (étude et brenchmark) de solutions de sécurité du marché (firewall, VPN, SSO, PKI, etc.)</li>
          <li>Optimisation et administration de la sécurité des environnements Windows x, Unix, Linux,</li>
          <li>Conception et mise en œuvre d’architectures de sécurité : accès distants (postes nomades, serveur d’authentification, …), passerelles d’accès externes, etc</li>
          <li>Validation de choix de solutions et de plates-formes techniques de sécurité,</li>
          <li>Mise en place de solutions d’authentification forte,</li>
          <li>Mise en place de solutions d’authentification unique (SSO),</li>
          <li>Mise en œuvre de solutions VPN basées sur une technologie de certificats (PKI)</li>
        </ul>
        <p>Des packs de services sont disponibles, à savoir :</p>
        <ol>
        <li>Prestations transverses</li>
        <li>Administration</li>
        <li>Convergences IP</li>
        <li>Formations</li>

        </ol>









      </div>


    </div>
  </div>
</section>
