<section class="content--product">
  <div class="container--product">
    <div class="all--elemnt">
      <div class="element">

        <img src="assets/prime/p1.png" alt="img" height="200px" width="400px">

      </div>

      <div class="element">


        <img src="assets/prime/p2.png" alt="img" height="200px" width="400px">

      </div>

      <div class="element">
        <img src="assets/prime/p3.png" alt="img" height="200px" width="400px">

      </div>

      <div class="element">
        <img src="assets/prime/p4.png" alt="img" height="200px" width="400px">

      </div>

      <div class="element">
        <img src="assets/prime/p5.png" alt="img" height="200px" width="400px">
        <br><br>
      </div>

    </div>

  </div>
</section>

