
<section class="content--home">
  <div class="content--first" id="element1">
    <h2 class="text-top">ENGAGÉ POUR VOTRE RÉUSSITE</h2>
    <h1 class="text-middle">
      <span style="color: orangered;">Respecter</span> <br> <span style="color: rgb(140, 178, 250);"> Nos
        engagements</span>
    </h1>
    <p class="text-paragraph">Agréger rapidement les utilisateurs B2C et les potentialités mondiale.<br>
      Plagier progressivement les competences de base du commerce<br>
      électronique de mise à niveau des ressources.</p>
    <div class="slider">
    </div>
  </div>
  <div class="sub--content">
    <div class="box">
      <h3>PRIME CONSULTING</h3>
      <h1>QUI SOMMES NOUS?</h1>
      <p>PRIME Consulting est un cabinet de conseil en systèmes d’information. L’équipe est constituée de consultants
        internes et externes aux compétences complémentaires dans les domaines de la stratégie, de l’organisation et de
        la mise en œuvre des projets. Nos interventions sont orientées vers:</p>
      <ul>
        <li>Conseils et assistance dans la mise en œuvre de projets informatiques</li>
        <li>Sécurité des systèmes d’information</li>
        <li>Finances et moyens de paiement bancaires électroniques</li>
      </ul>
      <h2>Une identité résolument africaine</h2>
      <div class="btn">
        <a href="http://" target="_blank" rel="noopener noreferrer">
          PRESENTATION
        </a>
      </div>
    </div>
    <div class="box">

    </div>
  </div>
  <div class="next--content">
    <div class="next--box"></div>

    <div class="next--box"></div>
  </div>

</section>

